# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
the financial status of the family,i am from  from poor family background which is not too good to pay the loan amount. We already have a lot of dept in the bank, and my parents are paying it regularly. It would make their life even harder to add a new loan over them.Sir, I don't want to put any pressure over them. Sir, it would be a great help for me to get a good job and help my family if I'm able to get this course.
